<div class="container">
  <div class="row">
    <h3 class="text-center label-primary">Dashboard</h3>

    <div class="col-md-4">
      <h4 class="text-center"><strong>Mes Ouvrages </strong><%= link_to "Ajouter Ouvrage", new_book_path, class: "label label-success" %></h4>
      <%= render "ouvrages" %>
    </div>

    <div class="col-md-4">
      <h4 class="text-center"><strong>Mes Achats</strong></h4>
      <%= render "achats" %>
    </div>

    <div class="col-md-4">
      <h4 class="text-center"><strong>Mes Ouvrages Vendus</strong></h4>
      <%= render "ventes" %>
    </div>

  </div>
</div>